@import url('https://fonts.googleapis.com/css?family=Pavanam');
body {
    font-family: 'Pavanam', sans-serif;
    margin: 10px;
}

.nav {
    background-color: black;
    color: white;
    font-size: 28px;
    padding: 10px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.banner {
    background-image: url("../images/banner_placeholder.jpg");
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.content {
    background-color: rgba(255, 255, 255, 0.90);
    margin-top: 100vh;
    width: 95vw;
    height: 90vh;
    /* Change this to make card smaller, make sure text fits */
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    padding: 100px;
}

.content>p {
    font-size: 25px;
}

.card-shawdow {
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
}

#header_logo {
    weight: 5vh;
    height: 5vh;
}

table, tr, td {
    border: 1px solid black;
}

.title {
    font-size: 8vw;
    margin-top: 25vh;
    text-align: center;
    color: white;
    opacity: 0.8;
}

.testPara {
    opacity: 0;
}

h1 {
    text-align: center;
}

ul>li {
    display: inline;
    margin-right: 1vh;
}

ul {
    display: inline-block;
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: grey;
}

hr {
    margin-left: 50vh;
    margin-right: 50vh;
}

#about {
    color: black;
    text-decoration: none;
}

.tree {
    display: block;
    margin: auto;
}

.contact {
    background-color: #233447;
    margin-top: 10vh;
    width: 95vw;
    height: 50vh;
    /* Change this to make card smaller, make sure text fits */
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    padding: 100px;
    color: white;
}

.contact-content {
    text-align: center;
    font-size: 25px;
}

.emailButton {}

.fadeContactUs {
    opacity: 0;
}
